// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-tmpv {
	// Extend a general input view style
	@extend %tp-input;

	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(auto-fit, 10px);
	height: calc(#{tp.cssVar('container-unit-size')} * 3);
	overflow: hidden;
	position: relative;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_text {
		// You can use CSS variables for styling. See declarations for details:
		// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
		color: tp.cssVar('input-fg');

		bottom: 2px;
		font-size: 0.9em;
		line-height: 0.9;
		opacity: 0.5;
		position: absolute;
		right: 2px;
	}
	&_dot {
		height: 10px;
		line-height: 10px;
		position: relative;
		text-align: center;

		&::before {
			background-color: tp.cssVar('input-fg');
			content: '';
			border-radius: 1px;
			height: 2px;
			left: 50%;
			margin-left: -1px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: 2px;
		}
	}
	&_frac {
		background-color: tp.cssVar('input-fg');
		border-radius: 1px;
		height: 2px;
		left: 50%;
		margin-top: -1px;
		position: absolute;
		top: 50%;
	}
}
